/* ESTILO GERAIS */
::-webkit-input-placeholder {
  color: white;
  text-align: center;
  opacity: 70%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #F0F8FF;
}

a {
  text-decoration: none;
  color: white;
}



.container {
  height: 100px;
  width: 80%;
  margin: auto;
}
/* FIM ESTILOS GERAIS */

/* Intro e menu */
.intro{
  top: 0;
  width: 100%;
  height: 98%;
  position: absolute; 
 
}
.intro img {
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;
  position: absolute;
}
.img-intro{
  border-top: 8px solid #2E4386;  
  border-bottom: 8px solid #CAAC00;
}

.login {
  position: absolute;
   left: 50%;
   transform: translateX(-50%);
    top: 6%;
    margin-top: -35px;
    background-color: #2E4386; 
    width:200px;
    height: 40px; 
    color: #FFF;
    border-radius: 0 0 30px 30px  ;
}

#login_block{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width:300px;
  height: 300px;
  background-color:  #2e4286c0;
  z-index: 0;
  border-radius: 20px;
  display: none;
}

#login_block p, h3{
  color: white;
  text-align: center;
}

#login_block input{
  position: absolute;
  background: none;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border: 1px solid white;
  text-align: center;
  color: white;
  margin-top: -20px;

}

#login_block button{
  position: relative;
  background: none;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border: 1px solid white;
  text-align: center;
  color: white;
  margin-top: 10px;
  display: block;
  width: 120px;
  top: -5%;
}

#login_block button:hover{
  background-color: white;
  color: #2E4386;
  cursor: pointer;
}




.login ul  {
text-align: justify;
margin-top: 11px;
margin-left: -2px;
}
.login ul li {
  display: inline;
  margin-right: 20px;
}

.login ul li:hover{
   cursor: pointer;
   font-weight: bold;
}

.menu {
  position: absolute;
   left: 50%;
   transform: translateX(-50%);
    top: 93%;
    background-color: #2E4386; 
    width:400px;
    height: 40px; 
    color: #FFF;
    border-radius: 20px;
    opacity: 90%;
}
.menu ul  {
text-align: justify;
margin-top: 11px;
margin-left: 35px;
}
.menu ul li {
  display: inline;
  margin-right: 10px; 
}

.menu ul li:hover{
   cursor: pointer;
   text-decoration: none;
   font-weight: bold;
}

.logo {
  position: absolute;
   left: 50%;
   transform: translateX(-50%);
    top: 65%;
    margin-top: -35px;
    width:250px;
    height: 200px; 
    color: #FFF;
    border-radius: 20px;
    opacity: 90%; 
}

/* FIM Intro e menu */

/* Section Noticia */
.noticias{
  width: 100%;
  height:380px;
  background-color: #ccc;
  position: absolute;
  top: 110%;
  border-top: 8px solid #CAAC00 ;
}

.tag{
  position: absolute;
  top: -9%;
  background-color: #CAAC00;
  border-radius: 30px 0 ;
 color: white;
 width: 180px;
 height: 30px;
 text-align: center;
 line-height: 10%;
 font-size: 16px;
 left: 50%;
 transform: translateX(-50%);
}


.img-not{
  position: absolute;
  top: 0;
  height: 250px;
  width: 33%;
}

.not{
  position: absolute;
  width: 33%;
  height: 132px;
  background-color: #2E4386;
  top: 65%;
  color: white;
  font-size: 18px;
  text-align: center;
}

.botao{
  background: none;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 20px;
  border: 1px solid white;
}

.botao:hover{
  cursor: pointer;
  background-color: white;
  color: #2E4386;
}

.not2{
  position: absolute;
  width: 33%;
  height: 132px;
  background-color: #2E4386;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  text-align: center;
}
.img-not2{
  position: absolute;
  top: 0;
  height: 250px;
  width: 33%;
  left: 50%;
  transform: translateX(-50%);
}

.not3{
  position: absolute;
  width: 33%;
  height: 132px;
  background-color: #2E4386;
  top: 65%;
 right: 0;
  color: white;
  font-size: 18px;
  text-align: center;
}
.img-not3{
  position: absolute;
  top: 0;
  right: 0;
  height: 250px;
  width: 33%;
}

/* FIM NOTICIA */

/* Jogos */
.jogos{
  position: absolute;
  width: 100%;
  height:380px;
  top: 180%;
  border-top: 8px solid #CAAC00 ;
}

.img-jg{
  position: absolute;
  width: 100%;
  height:380px;
  opacity: 40%;
}
/* Fim jogos */

/* Formulario */

.form{
  position: absolute;
  width: 100%;
  height:480px;
  top: 250%;
  background-color:#2E4386 ;
  border-top: 8px solid #CAAC00 ;
}
.txt{
  color: white;
  text-align: center;
}

.input-form {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  background: none;
  color: white;
  outline: none;
  border: 1px solid white;
  height: 25px;
  margin-top: -20px;
  width: 300px;
  text-align: center;
}

textarea{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  background: none;
  color: white;
  outline: none;
  border: 1px solid white;
  margin-bottom: 15px;
  height: 40px;
  width: 300px;
}

.btn-form{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  background: none;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 25px;
  margin-top: 40px;
  outline: none;
}

.btn-form:hover{
  color: #2E4386;
  background-color: white;
  cursor: pointer;
}


