body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #F0F8FF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

figcaption {
    text-align: center;
    margin-top: 5px;
    color: #2E4386;
    font-size: 14px;
}


/* Menu */

.menu-bg {
    background: #2E4386;
}

.menu {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}

.menu-logo {
    width: 110px;
    margin: 0 20px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.menu-nav a {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 10px;
}

.menu-nav a:hover {
    font-weight: bold;
}

.menu-login ul {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.menu-login a {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: block;
    padding: 10px;
}

.menu-login a:hover {
    font-weight: bold;
}

@media (max-widht: 800px) {
    .menu {
        margin-left: 0 auto;
    }
}

.current {
    font-weight: bold;
}


/* Fim Menu */


/* Intro */

.img-intro {
    display: flex;
    flex-wrap: wrap;
    border-top: 8px solid #CAAC00;
    background: url(../img/i3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    border-bottom: 4px solid #2E4386;
}

.title-not {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 40px auto;
    font-size: 32px;
}

.img-intro h1 {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 60px auto;
    color: #2E4386;
    background-color: white;
    opacity: 90%;
    padding: 0 20px;
    border-bottom: 2px solid #2E4386;
}


/* Intro Fim intro*/


/* Section Noticias */

.noticia {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 50px auto;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 4px solid #2E4386;
    padding-bottom: 50px;
}

.noticia h1 {
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-bottom: 25px;
    color: #2E4386;
    text-transform: uppercase;
    text-align: center;
}

.noticia p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 15px;
    color: #2E4386;
    text-align: justify;
}

.noticia img {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10%;
    border-bottom: 4px solid #2E4386;
}


/* Footer */

.footer {
    background: #062f4f;
}

.txt-footer {
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contato {
    margin: 20px 30px 20px 30px;
    color: white;
    line-height: 25px;
}

.endereco {
    margin: 20px 30px 20px 30px;
    color: white;
    line-height: 25px;
}

.sociais ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px 20px 30px;
}

.sociais ul li {
    padding: 10px;
}

.sociais img {
    width: 35px;
    height: 35px;
}

.sociais ul li:hover {
    border: 1px solid white;
}

.copy {
    background: #062f4f;
    border-top: 4px solid white;
    height: 30px;
}

.copy p {
    color: #ccc;
    text-align: center;
    margin-top: 5px;
}